a {
	text-decoration: none;
	color: white;
	font-size: 12pt;
	font-weight: 100;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 600;
	cursor: pointer;	
	border-radius: 50% 50% 50% 50%;
	background-color: #aa4e08;
	border-color: #aa4e08;
}
a:hover {
	text-shadow: lightgray 1px 1px 5px;
	background-color:#ff750b ;
    border-color: #ff750b ;;
}
span {
    width : 100px;
    display: inline-block;
    font-weight: bold;
}

button {
	float: right;
	height: 50px;
}
