<div class="fiche">
    <div class="recherche">
        Recherche
        <input [(ngModel)]="searchText">
    </div>
    <table>
        <thead>
            <tr>
                <td>Déscription</td>
                <td>Date début</td>
                <td>Date retour</td>
                <td>Valide</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations | filterLocationList:searchText" (click)="onViewLocation(location.id)"
                [ngClass]="{'line_selected':(location.id==idLocation)}">
                <td>{{location.typeMateriel.description}}</td>
                <td>{{location.date_debut}}</td>
                <td>{{location.date_retour}}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="location.valide" onclick="return false;">
                </td>
            </tr>
        </tbody>
    </table>
    <p>{{errorMessage}}</p>
    <app-single-location class="detail"></app-single-location>
</div>