<div class="fiche">
    <div class="recherche">
        <label for="encours">En cours : </label>
        <input id = "encours" type = "checkbox" [(ngModel)]="searchEncours" (click)="recherche()">
        Recherche
        <input [(ngModel)]="searchText">
    </div>
    <table>
        <thead>
            <tr>
                <td>Déscription</td>
                <td>Référence</td>
                <td>Date début</td>
                <td>Date retour</td>
                <td>Etat</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations | filterLocationList:searchText" (click)="onViewLocation(location.id)"
                [ngClass]="{'line_selected':(location.id==idLocation)}">
                <td>{{location.typeMateriel.description}}</td>
                <td>{{getReference(location)}}</td>
                <td>{{location.date_debut}}</td>
                <td>{{location.date_retour}}</td>
                <td>{{getEtatLocation(location)}}</td>
            </tr>
        </tbody>
    </table>
    <p>{{errorMessage}}</p>
    <app-single-location class="detail"></app-single-location>
</div>