<div class="">
    <div *ngIf="location!=null">
        <h1>Location : {{location.typeMateriel.description}}</h1>
        <span>Cadre:</span>{{getCadreDescription()}}<br>
        <span>Emprunteur:</span>{{location.utilisateur.login}}<br>
        <span>Date début:</span>{{location.date_debut}}<br>
        <span>Date retour:</span>{{location.date_retour}}<br>
        <span>Matériel:</span>{{getReference()}}<br>
        <span>Etat:</span> {{getEtatLocation()}}<br>
        <br>
    </div>
    <div class="boutons">
        <button (click)="onNewLocation()">Nouveau
        </button>
        <button *ngIf="canModify()" (click)="onModify()">
            Modifier
        </button>
        <button *ngIf="canDelete()" (click)="onDeleteLocation()">
            Supprimer
        </button>
        <button *ngIf="canBordereau()" (click)="onBordereau()">
            Bordereau
        </button>

    </div>
    <p>{{errorMessage}}</p>
</div>