/* You can add global styles to this file, and also import other style files */
.page {
	display: flex;
}

.page>div {
margin: auto;
}

button{
	border-width: 1px;
	border-radius: 5px;
	border-color:black; 
	background-color:#aa4e08;
	font-weight: 800;
	color: white;    
}

button:hover {
	text-shadow: lightgray 1px 1px 5px;
	background-color:#ff750b;
}
button:disabled {
	background-color:grey;
}
.fiche {
	display: flex;
	flex-wrap: wrap;
}

.detail {
    margin :auto;
}
.recherche {
	padding-top :10px;
	padding-bottom :10px;
	display: flex;
	flex-wrap: wrap;	
	width : 100%;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

thead {
	display: block;
	background-color: #ff750b80
}

tbody {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	display: block;
	cursor: pointer;
}

tbody>tr:nth-child(odd) {
	background: white
}

tbody>tr:nth-child(even) {
	background: lightgoldenrodyellow;
}

td, th {
	border: 1px solid black;
	width: 50px;
	text-align: center;
	width: 150px;
	max-width: 150px;
	overflow-wrap: break-word;
}

.line_selected {
	background-color: #aa4e08!important; ;
	color: white;

}