/* You can add global styles to this file, and also import other style files */
.page {
	display: flex;
}

.page>div {
margin: auto;
}

button{
	border-width: 1px;
	border-radius: 5px;
	border-color:black; 
	background-color:#aa4e08;
	font-weight: 800;
	color: white;    
}

button:hover {
	text-shadow: lightgray 1px 1px 5px;
	background-color:#ff750b;

}
