<div class = "page">
    <div>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <h2>Connexion</h2>
            <label for="login">Identifiant</label>
                <input type="text" id="login" formControlName="login">
                <br> 
                <label for="password">Mot de passe</label>
                <input type="password" id="password" formControlName="password">
                <br> 
                <button [disabled]="signInForm.invalid" type="submit">Connexion</button>
                <p>{{errorMessage}}</p>
            </form>                
    </div>
</div>